<form [formGroup]="loginForm">
  <div class="example-container">
    <h2 style="font-weight: 100; text-align: center;">Login</h2>

    <mat-form-field appearance="outline">
      <mat-label>Tài khoản</mat-label>
      <input matInput formControlName="username" placeholder="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mật khẩu</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Password">
    </mat-form-field>
    <button mat-button mat-raised-button color="white" class="buy-now-button space" (click)="login()">Login
    </button>

    <div class="form-control text-center">
      <h3 style="text-align: center;">Or</h3>
    </div>

    <button mat-button mat-raised-button color="primary" class="buy-now-button space" (click)="loginFacebook()">Login with Facebook
    </button>
    <button mat-button mat-raised-button color="warning" class="buy-now-button space" style="margin-top: 10px; color: white; background-color: red;" (click)="loginGoogle()">Login with Google
    </button>
    <a href="/oauth/facebook/" class="btn btn-primary"><span class="fa fa-facebook"></span> Login with Facebook</a>
  </div>
</form>