<div class="shopping-cart-conatiner">

        <div class="title">
            My Cart
        </div>
        <div class="header">
    
    
            <div class="img">
    
            </div>
            <div class="name">
                Product
            </div>
            <div class="price">
                Price
            </div>
            <div class="quantity">
                Quantity
            </div>
            <div class="total">
                Total
            </div>
            <div class="close">
    
            </div>
        </div>
    
        <div class="body" *ngFor="let item of cart">
    
            <div class="img">
    
                <img class="productImg" src="{{item.image[0]}}" alt="Photo of a Shiba Inu">
            </div>
            <div class="name">
                <h3> {{item.name}}</h3>
                <p> {{item.description}}</p>
            </div>
            <div class="price">
                    {{item.price}}
            </div>
            <div class="quantity">
                <mat-icon fontSet="material-icons-outlined" (click)="aaa" class="close-icon">remove</mat-icon>
                <input style="height: 20px; margin-right: 5px; text-align: center;" type="text" size="1" value="{{item.quantity}}" />
                <mat-icon fontSet="material-icons-outlined" (click)="bbb" class="close-icon">add</mat-icon>
            </div>
            <div class="total">
                    {{item.quantity*item.price}}
    
            </div>
            <div class="close">
                <mat-icon fontSet="material-icons-outlined" (click)="deleteItem(item)" class="close-icon">close</mat-icon>
            </div>
    
        </div>
    
    
    
        <div class="cart-total" >
            <h2>CART TOTALS</h2>
            <hr>
            <table style="width: 100%">
                
                <tr>
    
                    <td>Total</td>
                    <td><b>{{Total}}</b></td>
                </tr>
            </table>
            <div class="checkout-button">
                <button mat-stroked-button color="primary" class="button full-button" (click)="openConfirmOrderDialog()">PROCEED TO CHECKOUT</button>
            </div>
        </div>
    
    </div>
